{% extends "base.html" %}
{% block title %}デッキ編集{% endblock title %}
{% block content %}
<div class="container">
    <h1>デッキ編集</h1>
    <p class="important">
        サーバー内のデッキを編集
    </p>
    <div class="row">
        <div class="col-sm">
            <h2>カード一覧</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">表画像</th>
                        <th scope="col">裏画像</th>
                        <th scope="col">デッキへ</th>
                    </tr>
                </thead>
                <tbody>
                    {% for card in cards %}
                    <tr>
                        <td>{{ card.id }}</td>
                        <td><a href="{{ card.face }}">{{ card.face }}</td>
                        <td><a href="{{ card.back }}">{{ card.back }}</td>
                        <td><button class="btn btn-primary">＞</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class=" col-sm">
            {% if not is_deck_selected %}
            <h2>デッキを選択してください</h2>
            {% for deck in decks %}
            <a href="/edit-deck/{{ deck.id }}">{{ deck.name }}</a>
            {% endfor %}
            {% else %}
            <h2>{{ selected_deck_name}}のカード一覧</h2>
            {% for deck in decks %}
            <a href="/edit-deck/{{ deck.id }}">{{ deck.name }}</a>
            {% endfor %}
            <form class="form-horizontal" method="POST" action="/edit-deck/complete" enctype="multipart/form-data">
                <input type="hidden" name="selected_deck_id" value="{{ selected_deck_id }}">
                <button type="submit" class="btn btn-primary">編集完了</button>
                <p>
                    {{ edit_deck_confirm }}
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">削除</th>
                            <th scope="col">ID</th>
                            <th scope="col">表画像</th>
                            <th scope="col">裏画像</th>
                            <th scope="col">枚数</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for card_in_deck in cards_in_deck %}
                        <tr>
                            <td><button class="btn btn-primary">＜</button></td>
                            <td>{{ card_in_deck.id }}</td>
                            <td><a href="{{ card_in_deck.face }}">{{ card_in_deck.face }}</td>
                            <td><a href="{{ card_in_deck.back }}">{{ card_in_deck.back }}</td>
                            <td>hoge</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
